<%- include('Use/head.ejs') %>
<%- include('Use/nav.ejs') %>

<form action="/goto" method="post">
    <input type="text" placeholder="Enter Username" name="sj">
    <input type="submit" value="Add User">
</form>

<%- include('Use/end.ejs') %>